extends layout
block content
  .row
    .col
      .card#community-wrap
        .card-header
          .row
            .col-7
              .row
                .col-6
                  .round-card.d-flex.justify-content-between
                    img.my-auto(src='/assets/img/faces/face-1.jpg')
                    p.my-auto 이런표현 영어로 어떻게 할까?
                    span 50
                .col-6
                  .round-card.d-flex.justify-content-between.bg-lightgray
                    img.my-auto(src='/assets/img/faces/face-1.jpg')
                    p.my-auto 수다방
                    span 129
              .row
                .col-6
                  .d-flex.justify-content-start
                    .circle
                    span Name Sumame
                    label 11h ago
                  .card
                    
            .col-5
        .card-body