extends layout
block content
  .row
    .col-10
      #write-section
        .d-flex.pt-5.header-wrap
          .col
            .header 영문
          .col
            .header 국문
        .d-flex.pt-3
          .col
            .content
          .col
            .content
    .col-2