.side-menu
  ul.list-group.list-group-flush.text-center
    li.list-group-item
      a.text-white(href="/") 
        .border ENGLISH DIARY
    li.list-group-item
      a(href="./components/grid.html") 
        .border 일기 쓰기
    li.list-group-item
      a(href="./components/panels.html") 
        .border 잉다 튜터
    li.list-group-item
      a(href="./components/sweet-alert.html") 
        .border 커뮤니티
    li.list-group-item
      a(href="./components/notifications.html") 
        .border 수강권
    li.list-group-item
      a(href="./components/icons.html") 
        .border 부가서비스