.side-menu
  ul.list-group.list-group-flush.text-center
    li.list-group-item
      .border
        a.text-white(href="/") ENGLISH DIARY
    li.list-group-item
      .border
        a(href="./components/grid.html") 일기 쓰기
    li.list-group-item
      .border
        a(href="./components/panels.html") 잉다 튜터
    li.list-group-item
      .border
        a(href="./components/sweet-alert.html") 커뮤니티
    li.list-group-item
      .border
        a(href="./components/notifications.html") 수강권
    li.list-group-item
      .border
        a(href="./components/icons.html") 부가서비스