.side-menu
  ul.list-group.list-group-flush.text-center
    li.list-group-item
      a.text-white(href="/") 
        .border ENGLISH DIARY
    li.list-group-item
      a(href="#") 
        .border 일기 쓰기
    li.list-group-item
      a(href="#") 
        .border 잉다 튜터
    li.list-group-item
      a(href="#") 
        .border 커뮤니티
    li.list-group-item
      a(href="#") 
        .border 수강권
    li.list-group-item
      a(href="#") 
        .border 부가서비스