.main-nav {
  background-color: rgba(255, 255, 255, 0.35);
  padding: 2.5rem;
}
.full-page:before {
  background: transparent;
}
.full-page .full-page-background {
  z-index: 0;
}
.sign-up-wrap p {
  color: white;
  font-size: 1.5rem;
}
.sign-up-wrap .division {
  float: none;
  margin: 0 auto 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}
.sign-up-wrap .division .line {
  border-top: 1px solid #dfdfdf;
  position: absolute;
  top: 10px;
  width: 45%;
}
.sign-up-wrap .division span {
  color: white;
  font-size: 17px;
}
.sign-up-wrap .division .line.l {
  left: 0;
}
.sign-up-wrap .division .line.r {
  right: 0;
}
.social-login-wrap button {
  margin: 0 0.5rem;
  width: 50px;
  height: 50px;
  background-color: white;
  border-color: white;
  color: darkblue;
}
.social-login-wrap button i {
  font-size: 22px !important;
}
.main-tutor-wrap .title {
  font-size: 1.7rem;
  color: white;
}
.main-tutor-wrap {
  margin-top: 70px;
}
.main-tutor-wrap .tutor-card {
  background-color: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.main-tutor-wrap .tutor-card .tutor-photo {
  border-radius: 50%;
  overflow: hidden;
  width: 70px;
  margin: 0 auto;
}
.main-tutor-wrap .tutor-card .tutor-photo img {
  width: 100%;
}
.side-menu {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.side-menu .list-group-item:first-child {
  padding-bottom: 2rem;
}
.side-menu .list-group-item {
  border-top: none;
  background-color: rgba(255, 255, 255, 0.3);
  border: none !important;
  margin: 0;
}
.side-menu .list-group-item .border {
  padding: 0.6rem;
}
.side-menu .list-group-item .border:hover {
  background: white;
}
.side-menu .list-group-item a {
  color: black;
  font-weight: 700;
  font-size: 0.8rem;
}

#write-section {
  background: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  overflow: hidden;
}
#write-section .header-wrap {
  border-bottom: 1px solid lightgray;
  margin: 0 2rem;
  text-align: center;
  padding-bottom: 0.7rem;
}
#write-section .bottom-shadow {
  text-align: center;
  padding-bottom: 1rem;
  box-shadow: 0px 5px 10px lightgrey;
}
#write-section .header {
}
#write-section .content {
  height: calc(100vh - 10rem - -12px);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0px 0px 8px lightgrey;
  overflow: hidden;
}
#write-section textarea {
  resize: none;
  height: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 20px;
}
.full-page:before,
.full-page:after {
  z-index: 0;
}
#find-tutor-section .input-group input[name="search-tutor"] {
  background-image: url("/assets/svgs/search-solid.svg");
  background-repeat: no-repeat;
  background-position: right 1.2rem center;
  background-size: 1rem;
}
#find-tutor-section .input-group input[name="search-tutor"]::placeholder {
  color: dimgray;
}
#find-tutor-section .input-group input[name="search-tutor"],
#find-tutor-section label {
  background-color: white;
  width: 100%;
  padding: 0.625rem 1rem;
  border-radius: 30px;
  margin: 0.4rem 0;
  color: dimgray;
  font-size: 0.85rem;
}
#tutor-list {
  height: calc(100vh - 154px);
  overflow: auto;
}
#tutor-list .card {
  border-radius: 30px;
}
#tutor-list .heart-wrap,
#tutor-section .card-header button,
.tutor-intro button {
  position: absolute;
  right: 10px;
  top: 100px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
  margin: 0;
}
#tutor-list .heart-wrap i {
  color: darkgray;
}
#tutor-list .card-body {
  border-radius: 30px;
}
#tutor-list .card-body img,
#tutor-section .card-header img {
  width: 110px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
#tutor-list .card-body label,
#tutor-section .card-header label {
  font-size: 15px;
  font-weight: 700;
  color: black;
  text-transform: none;
}
#tutor-list .card-body .star-wrap span.star,
#tutor-section .card-header .star-wrap span.star {
  background-image: url("/assets/svgs/star-regular.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 20px;
  height: 20px;
  display: inline-block;
}

#tutor-list .card-body .star-wrap span.star.check,
#tutor-section .card-header .star-wrap span.star.check {
  background-image: url("/assets/svgs/star-solid.svg");
}
#tutor-list .card-footer button {
  border-radius: 15px;
  width: 130px;
}
#tutor-list button i.fa-heart[data-toggle="true"] {
  color: red;
}
#tutor-section {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 50px;
}
#tutor-section .card {
  height: 300px;
  margin-top: 50px;
}
#tutor-section .card-header img {
  margin: 0;
  top: -50px;
  position: relative;
  left: -20px;
}
#tutor-section .card-header .rating-wrap {
  left: -100px;
  position: relative;
}
#tutor-section .card-header button {
  position: relative;
  top: -22px;
  right: -22px;
  background-color: white !important;
}
#tutor-section .card-body {
  margin-top: -50px;
}
.tutor-intro button.btn.btn-link.tutor-link {
  background-image: url("/assets/svgs/sign-out-alt-solid.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  top: -25px;
  right: -6px;
  background-color: white !important;
}
.tutor-intro button.btn.btn-link.tutor-link:hover,
.tutor-intro button.btn.btn-link.tutor-link:active {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}
